@using armaoffline.Models
@using Microsoft.Maui.Controls
@inject armaoffline.Repositories.IArmaApi _armaApi
@inject armaoffline.Services.GlobalState _globalState
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@inject Services.IMediaElementService _audioPlayer
@page "/offlineplayer"
@{
    
}

<div class="page-body-content">
    <div class="row">
        <div class="col-md-12">
            <button id="btnLoadOfflinePlayerForUser" class="btn btn-primary" @onclick="GetRandomSongsFromAllUserPlaylsts">Random Songs</button>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Playlist:</span>
                <select id="cmbOfflinePlaylists" class="form-select" @onchange="OnChangeOfflinePlaylistsHandler">
                    <option value=""></option>
                    @{
                        foreach (var item in offlinePlaylists)
                        {
                            <option value="@item.Id">@item.PlaylistName</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12">
            <table id="tblMainPlayList">
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div class="bottom-gap"></div>
</div>

<!-- Player Controls -->
<div class="screen-sleep-dimmed @(ShowDimmedScreen)">
    <div class="screen-sleep-now-playing ps-5 pe-5">
        <div class="align-center">
            <h3 id="lblDimmed_Artist" class="font-white"></h3>
        </div>
        <div class="align-center">
            <h4 id="lblDimmed_Song" class="font-white"></h4>
        </div>
    </div>
</div>
<div class="player-float-bottom @(ShowDimmedScreen)">
    <div class="player-body ps-5 pe-5">
        <div>
            <button @onclick="PlayPause" class="player-btn player-@(IsPlaying ? "pause" : "play")">
                <div class="player-inner"></div>
            </button>
            <input type="range" id="sldPlayerLocation" min="0" max="100" value="0" class="ms-3 me-3">
            <button @onclick="NextSong" class="player-btn player-next">
                <div class="player-inner"></div>
            </button>
        </div>
        <div class="align-center">
            <label>@ElapsedTime / @TotalTime</label>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public int? UserId { get; set; }
    List<ArmaUserPlaylistDataItem> offlinePlaylists { get; set; }

    private static armaoffline.Repositories.IArmaApi _armaStaticApi =
        armaoffline.Providers.ServiceLocator.ServiceProvider.GetRequiredService<armaoffline.Repositories.IArmaApi>();
    private static Action<string, string, string, bool> _playAction;
    private static Action<double?> _playerPositionAction;
    private static Action _updateUI;
    private static Action _closeDimmedScreen;

    private System.Timers.Timer _elapsedTimer;
    private System.Timers.Timer _dimmedScreenTimer;
    private int _dimmedScreenTimerSeconds = 0;
    public bool IsPlaying { get; private set; } = false;
    public string ElapsedTime { get; private set; } = "00:00";
    public string TotalTime { get; private set; } = "00:00";
    private int _maxDimScreenSeconds { get; set; }
    private string ShowDimmedScreen { get; set; }

    protected override void OnInitialized()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);
        var query = System.Web.HttpUtility.ParseQueryString(uri.Query);
        UserId = (int.TryParse(query["userid"], out int _userId) ? _userId : null);
        offlinePlaylists = (UserId.HasValue ? _armaApi.Offline_GetAvailablePlaylists(UserId.Value) : new List<ArmaUserPlaylistDataItem>());

        if (System.Diagnostics.Debugger.IsAttached)
        {
            _maxDimScreenSeconds = 10;
        }
        else
        {
            _maxDimScreenSeconds = 120;
        }

        _elapsedTimer = new System.Timers.Timer(1000);
        _elapsedTimer.Elapsed += UpdateElapsedTime;

        _dimmedScreenTimer = new System.Timers.Timer(1000);
        _dimmedScreenTimer.Elapsed += DimmedScreenTickEvent;

        _audioPlayer.MediaEndedEvent += OnPlaybackEnded;
        _audioPlayer.MediaFailedEvent += OnAudioFailed;

        _playAction = PlaySong;
        _playerPositionAction = PlayerAudioPosition;

        NavigationManager.LocationChanged += HandleLocationChanged;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("onOfflinePlayerOnload");

            _updateUI = RefreshPageUI;
            _closeDimmedScreen = CloseDimmedScreen;
        }
    }

    [JSInvokable]
    public static void RefreshUIFromOfflineRadio()
    {
        _updateUI?.Invoke();
    }

    [JSInvokable]
    public static void CloseOfflinePlayerDimmedScreen()
    {
        _closeDimmedScreen?.Invoke();
    }

    private async void RefreshPageUI()
    {
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    private async void CloseDimmedScreen()
    {
        await InvokeAsync(() =>
        {
            if (!IsPlaying)
            {
                _dimmedScreenTimer.Stop();
            }

            ShowDimmedScreen = "";

            _dimmedScreenTimerSeconds = 0;

            StateHasChanged();
        });
    }

    private void HandleLocationChanged(object sender, LocationChangedEventArgs e)
    {
        // Clean up audio resources before navigating
        CleanupAudioResources();
    }

    private async void CleanupAudioResources()
    {
        _audioPlayer.MediaEndedEvent -= OnPlaybackEnded;
        await _audioPlayer.Stop();

        _elapsedTimer?.Stop();
        _elapsedTimer?.Dispose();
    }

    private async void GetRandomSongsFromAllUserPlaylsts()
    {
        List<ArmaPlaylistDataItem> randomSongs = (UserId.HasValue ? _armaApi.Offline_GetRandomSongs(UserId.Value) : new List<ArmaPlaylistDataItem>());

        await JS.InvokeVoidAsync("populateSongsToPlayerTable", randomSongs);
    }

    private async void OnChangeOfflinePlaylistsHandler(ChangeEventArgs e)
    {
        int? playlistId = (Int32.TryParse(e.Value.ToString(), out int _idValue) ? _idValue : (int?)null);

        List<ArmaPlaylistDataItem> playlist = (playlistId.HasValue ? _armaApi.Offline_GetPlaylistById(playlistId.Value) : new List<ArmaPlaylistDataItem>());

        await JS.InvokeVoidAsync("populateSongsToPlayerTable", playlist);
    }

    private async void PlaySong(string songId, string artistName, string songName, bool fromPlayFirstSong)
    {
        if (!fromPlayFirstSong)
        {
            if (!string.IsNullOrWhiteSpace(songId))
            {
                string songWithPath = _armaApi.GetFileWithPath($"{songId}.m4a");

                await InvokeAsync(async () =>
                //MainThread.BeginInvokeOnMainThread(() =>
                {
                    await _audioPlayer.SetMediaSource(songWithPath);
                    await _audioPlayer.SetMetaData(artistName, songName);
                    await _audioPlayer.Play();

                    _elapsedTimer.Start();
                    IsPlaying = true;

                    if (_dimmedScreenTimerSeconds == 0)
                    {
                        _dimmedScreenTimer.Start();
                    }

                    StateHasChanged();
                });
            }
            else
            {
                await InvokeAsync(async () =>
                {
                    _audioPlayer.MediaEndedEvent -= OnPlaybackEnded;
                    await _audioPlayer.Stop();
                    _elapsedTimer.Stop();
                    IsPlaying = false;
                    _audioPlayer.MediaEndedEvent += OnPlaybackEnded;

                    ElapsedTime = "00:00";
                    TotalTime = "00:00";

                    _dimmedScreenTimer.Stop();
                    _dimmedScreenTimerSeconds = 0;

                    await JS.InvokeVoidAsync("updatePlayerSliderPosition", 0);

                    StateHasChanged();
                });
            }
        }
        else
        {
            if (!string.IsNullOrWhiteSpace(songId))
            {
                string songWithPath = _armaApi.GetFileWithPath($"{songId}.m4a");

                await InvokeAsync(async () =>
                //MainThread.BeginInvokeOnMainThread(() =>
                {
                    await _audioPlayer.SetMediaSource(songWithPath);
                    await _audioPlayer.SetMetaData(artistName, songName);
                    await _audioPlayer.Play();

                    _elapsedTimer.Start();
                    IsPlaying = true;

                    if (_dimmedScreenTimerSeconds == 0)
                    {
                        _dimmedScreenTimer.Start();
                    }

                    StateHasChanged();
                });
            }
        }
    }

    [JSInvokable]
    public static void Play(string songId, string artistName, string songName, bool fromPlayFirstSong)
    {
        _playAction?.Invoke(songId, artistName, songName, fromPlayFirstSong);
    }

    [JSInvokable]
    public static void SetAudioToPosition(double? position)
    {
        _playerPositionAction?.Invoke(position);
    }

    private async void PlayerAudioPosition(double? position)
    {
        if (position.HasValue)
        {
            await InvokeAsync(async () =>
            {
                if (position > 0)
                {
                    TimeSpan songDuration = await _audioPlayer.GetDuration();

                    double newSeconds = ((position.Value / 100) * songDuration.TotalSeconds);
                    TimeSpan duration = TimeSpan.FromSeconds(newSeconds);

                    await _audioPlayer.Seek(duration);

                    StateHasChanged();
                }
            });
        }
    }

    private async void PlayPause()
    {
        if (_audioPlayer.IsMediaLoaded())
        {
            await InvokeAsync(async () =>
            {
                if (IsPlaying)
                {
                    await _audioPlayer.Pause();
                    _elapsedTimer.Stop();
                    IsPlaying = false;
                }
                else
                {
                    await _audioPlayer.Play();
                    _elapsedTimer.Start();
                    IsPlaying = true;
                }

                StateHasChanged();
            });
        }
        else
        {
            if (!IsPlaying)
            {
                await JS.InvokeVoidAsync("playFirstAvailableSong");
            }
        }
    }

    private async Task NextSong()
    {
        await InvokeAsync(async () =>
        {
            _audioPlayer.MediaEndedEvent -= OnPlaybackEnded;
            await _audioPlayer.Stop();
            _elapsedTimer.Stop();
            _audioPlayer.MediaEndedEvent += OnPlaybackEnded;

            StateHasChanged();
        });

        await JS.InvokeVoidAsync("playNextAvailableSong");
    }

    private string FormatTime(TimeSpan seconds)
    {
        return seconds.ToString(@"mm\:ss");
    }

    private async void UpdateElapsedTime(object sender, System.Timers.ElapsedEventArgs e)
    {
        await InvokeAsync(async () =>
        {
            TimeSpan currentPosition = await _audioPlayer.GetCurrentPosition();
            TimeSpan currentDuration = await _audioPlayer.GetDuration();

            ElapsedTime = FormatTime(currentPosition);
            TotalTime = FormatTime(currentDuration);

            double sliderPosition = 0;

            if (currentPosition.TotalSeconds > 0 && currentDuration.TotalSeconds > 0)
            {
                sliderPosition = (currentPosition.TotalSeconds / currentDuration.TotalSeconds) * 100;
            }

            await JS.InvokeVoidAsync("updatePlayerSliderPosition", sliderPosition);

            StateHasChanged();
        });
    }

    private async void DimmedScreenTickEvent(object sender, System.Timers.ElapsedEventArgs e)
    {
        await InvokeAsync(() =>
        {
            if (IsPlaying && _dimmedScreenTimerSeconds > _maxDimScreenSeconds)
            {
                ShowDimmedScreen = "show";

                StateHasChanged();
            }

            _dimmedScreenTimerSeconds++;
        });
    }

    private async void OnPlaybackEnded(object sender, EventArgs e)
    {
        // Ensure this runs on the UI thread
        await InvokeAsync(async () =>
        {
            // Automatically move to the next song
            await NextSong();
        });
    }

    private async void OnAudioFailed(object sender, CommunityToolkit.Maui.Core.Primitives.MediaFailedEventArgs e)
    {
        // Ensure this runs on the UI thread
        await InvokeAsync(async () =>
        {
            // Automatically move to the next song
            await NextSong();
        });
    }

    public void Dispose()
    {
        // Remove event handler to prevent memory leaks
        NavigationManager.LocationChanged -= HandleLocationChanged;

        CleanupAudioResources();
    }
}